<%= render 'users/user_info',user: current_user %>

<h2>Book detail</h2>
<table>
  <thead>
    <th>
      <% if @book.user.profile_image.attached? %>
      <%= image_tag @book.user.profile_image, size: "80x80" %>
      <% else %>
      <%= image_tag "no_image", size: "80x80" %>
      <% end %>
    </th>
    <th>
      <%= link_to @book.title, book_path(@book.user.id) %>
    </th>
    <th>
      <%= @book.body %>
    </th>
    <th>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.user.id), method: :edit %>
      <% end %>
    </th>
    <th>
      <% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book.user.id), method: :delete %>
      <% end %>
    </th>
  </thead>
</table>
